.footer {
    width: 100%;
    min-height: 500px;
    background: var(--color_blue_opacity);
    box-shadow: 0 0 4px var(--color_dark_blue);
    padding: 4%;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer_item {
    width: calc(100% / 4 - 10px);
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 14px;
}

.footer_item_logo_container {
    width: auto;
    height: auto;
}

.footer_item_logo {
    width: auto;
    height: 64px;
    border-radius: 10px;
}

.footer_description {
    width: auto;
    height: auto;
    color: var(--color_grey);
    font-weight: 600;
}

.footer_plans, .footer_actus_dev_list, .footer_contact {
    width: 100%;
    height: auto;
    list-style: none;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 14px;
}

.footer_plan, .footer_actus_dev, .footer_contact_item {
    width: 100%;
    height: auto;
    font-size: 1.075rem;
    color: var(--color_grey);
}

.footer_plan_link, .footer_actus_dev_link, .footer_contact_item_link {
    width: 100%;
    height: auto;
    text-decoration: none;
    color: var(--color_grey);
    transition: ease .4s;
}

@media(hover:hover) {
    .footer_plan_link:hover {
        color: var(--color_orange);
    }

    .footer_actus_dev_link:hover {
        color: var(--color_orange);
    }

    .footer_contact_item_link:hover {
        color: var(--color_orange);
    }
}

@media screen and (max-width: 905px) {
    .footer {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 20px;
    }

    .footer_item {
        width: 100%;
    }
}
