.header {
    width: 100%;
    height: 80px;
    padding: 0 4%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container {
    width: 150px;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
}

.logo_icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    width: auto;
    height: auto;
}

.menu {
    width: auto;
    height: auto;
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.menu_item {
    width: auto;
    height: auto;
}

.menu_link {
    width: auto;
    height: auto;
    text-decoration: none;
    color: var(--color_grey);
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    transition: ease .4s;

    display: block;
}

.menu_item:last-of-type .menu_link {
    background: var(--color_blue);
    color: var(--color_light_grey);
}

@media(hover:hover) {
    .menu_link:hover {
        background: var(--color_orange);
        color: var(--color_light_grey);
    }

    .menu_item:last-of-type .menu_link:hover {
        box-shadow: 0 0 10px var(--color_blue);
    }
}

@media screen and (max-width: 628px) {
    .menu_item:last-of-type .menu_link {
        display: none;
    }
}