:root {
    --color_blue: #0066FF;
    --color_blue_opacity: #0066FF11;
    --color_dark_blue: #0A1F44;
    --color_orange: #FF6B00;
    --color_orange_opacity: #FF6B0011;
    --color_light_grey: #F5F7FA;
    --color_grey: #222222;
    --font_title: "Montserrat", sans-serif;
    --font_text: "Inter", serif;
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font_title);
    color: var(--color_grey);
}

h1 {
    font-size: 4rem;
}

h2 {
    width: 90%;
    max-width: 1000px;
    color: var(--color_grey);
    text-align: center;
    font-size: 3rem;
}

h3 {
    font-size: 1.6rem;
    color: var(--color_grey);
    text-align: center;
}

h4 {
    font-size: 1.2rem;
    color: var(--color_grey);
}

a,
p,
li,
span {
    font-family: var(--font_text);
}

@media screen and (max-width: 1028px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 796px) {

    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 2.2rem;
    }
}