.main {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.section_banner {
    width: 100%;
    min-height: calc(100vh - 80px);
    padding-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.promo_container {
    width: auto;
    max-width: 90%;
    height: auto;
    padding: 8px 24px;
    border: 1px solid var(--color_orange);
    border-radius: 6px;
    background: var(--color_orange_opacity);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.promo_icon {
    width: 24px;
    height: 24px;
}

.promo_text {
    width: auto;
    height: auto;
    font-weight: 600;
    color: var(--color_orange);
    flex-wrap: nowrap;
}

.title {
    width: 90%;
    max-width: 1000px;
    text-align: center;
    color: var(--color_grey);
}

.title>span {
    color: var(--color_blue);
}

.description {
    width: 90%;
    max-width: 1000px;
    color: var(--color_grey);
    text-align: center;
    font-size: 1.4rem;
}

.banner_cta {
    background: var(--color_blue);
    color: var(--color_light_grey);
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 16px 0;
    transition: ease .4s;
}

.banner_characteristics {
    width: 100%;
    height: auto;
    list-style: none;
    margin: 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
}

.banner_characteristic {
    min-width: 180px;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.banner_characteristic_icon {
    width: 34px;
    height: 34px;
    background: var(--color_blue_opacity);
    border-radius: 100px;
}

.banner_characteristic_text {
    font-weight: 600;
    color: var(--color_grey);
    flex-wrap: nowrap;
}

.section_problem {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

.section_problem_description, .section_solution_description, .section_plans_description {
    width: 100%;
    max-width: 1000px;
    color: var(--color_grey);
    text-align: center;
    font-size: 1.4rem;
}

.section_problem_cards, .solutions {
    width: 100%;
    height: auto;
    padding: 0 4%;
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.problem_card, .solution_card {
    width: 320px;
    height: 280px;
    border: 1px solid var(--color_dark_blue);
    background: var(--color_blue_opacity);
    padding: 20px;
    border-radius: 10px;
    transition: ease .4s;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.problem_card_icon, .solution_card_icon {
    width: 62px;
    height: 62px;
    padding: 10px;
    border-radius: 100px;
    background: var(--color_blue_opacity);
    margin-top: 6.25%;
}

.problem_card_title,
.problem_card_text, .solution_card_title {
    width: auto;
    height: auto;
    color: var(--color_grey);
    text-align: center;
    font-size: 1.1rem;
}

.problem_card_text {
    font-weight: 600;
    font-size: 1.075rem;
}

.section_problem_text {
    width: 90%;
    max-width: 1040px;
    padding: 20px 40px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    background: var(--color_blue_opacity);
    border: 1px solid var(--color_dark_blue);
    color: var(--color_blue);
    text-align: center;
}

.section_solution {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

.section_plans {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

.plans {
    width: 92%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 10px;
}

.plan {
    width: calc(100% / 4 - 10px);
    min-width: 290px;
    height: auto;
    border: 2px solid var(--color_blue);
    padding: 20px;
    border-radius: 8px;
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 14px;   
}

.plan:nth-of-type(2) {
    border-color: var(--color_orange);
}

.plan:nth-of-type(2)::after {
    content: 'Más Popular';
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 20px;
    background: var(--color_orange);
    text-wrap: nowrap;
    border-radius: 4px;
    color: var(--color_light_grey);
}

.plan_title {
    font-size: 1.6rem;
    text-align: center;
}

.plan_description {
    text-align: center;
    font-size: 1rem;
}

.plan_price {
    font-weight: 500;
    font-size: 1.4rem;
}

.plan_price > span {
    color: var(--color_blue);
    font-weight: bold;
    font-size: 2rem;
}

.plan:nth-of-type(2) .plan_price > span {
    color: var(--color_orange);
}

.plan_characteristics {
    width: 100%;
    height: auto;
    margin: 20px 0;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 4px;
}

.characteristic {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.plan_characteristics > .characteristic > .characteristic_icon {
    width: 26px;
    height: 26px;
}

.plan:nth-of-type(2) .characteristic_icon {
    background: var(--color_orange_opacity);
}

.characteristic_text {
    font-weight: 500;
    font-size: .98rem;
}

.plan_cta {
    width: 100%;
    background: var(--color_blue);
    color: var(--color_light_grey);
    border-radius: 6px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    transition: ease .4s;
}

.plan:nth-of-type(2) .plan_cta {
    background: var(--color_orange);
}

@media(hover:hover) {
    .banner_cta:hover {
        box-shadow: 0 0 20px var(--color_blue);
    }

    .problem_card:hover {
        box-shadow: 0 4px 10px var(--color_dark_blue);
    }

    .solution_card:hover {
        transform: scale(1.06);
    }

    .plan_cta:hover {
        box-shadow: 0 0 10px var(--color_blue);
    }

    .plan:nth-of-type(2) .plan_cta:hover {
        box-shadow: 0 0 16px var(--color_orange);
    }
}

@media screen and (max-width: 1308px) {
    .plan {
        width: calc(100% / 3 - 10px);
    }
}

@media screen and (max-width: 984px) {
    .plan {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 796px) {
    .description, .banner_cta {
        font-size: 1.2rem;
    }

    .section_problem_description, .section_solution_description, .section_plans_description {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 656px) {
    .plan {
        width: 100%;
    }
}